rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /moralis/events/{name}/{id} {
      allow read;
      allow write: if false;
    }
    match /moralis/txs/{name}/{id} {
      allow read;
      allow write: if false;
    }
  }
}
