#root {
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
  width: 100%;
}

.logo {
  height: 5em;
  padding: 0 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.moralis {
  height: 5.2em;
}
.logo.moralis:hover {
  filter: drop-shadow(0 0 2em #1df7f7);
}
.logo.cra:hover {
  filter: drop-shadow(0 0 2em #0AAE8F);
}

footer {
  margin-top: 2em;
  color: #a09f9f;
  text-align: center;
}

.address-input {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.search_btn {
  position: absolute;
  right: 0;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 0 1.2em;
  height: 100%;
}

pre {
  background-color: #19212c;
  padding: 1em;
  border-radius: 0.375rem;
}

.address-input input {
  background-color: #19212c;
  border-radius: 0.375rem;
  border: 1px solid rgba(255, 255, 255, 0.16);
  line-height: 1.5;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  padding: 0 16px;
  width: 100%;
  height: 40px;
}

.address-input input:focus {
  border-color: #63b3ed;
  padding: 0 15px;
  border-width: 2px;
  outline: none;
}

.header {
  text-align: center;
}
