.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-bottom: 2px solid #f3f3f3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  max-width: 1000px;
  width: 100%;
}

.logo {
  cursor: pointer;
}
