# node_modules
node_modules/
packages/**/node_modules

# Error / debug
lerna-debug.log
npm-debug.log
yarn-error.log

# docs
docs/

# gh-pages
pages/

# Build
packages/**/build
packages/**/dist
packages/**/lib
packages/**/lib.esm
packages/**/coverage
coverage/

demos/**/lib
demos/**/build
demos/**/dist


logs/


# Typescript
packages/**/tsconfig.tsbuildinfo
demos/**/tsconfig.tsbuildinfo

# Test coverage
packages/**/coverage

# Turbo
.turbo

# Env files
.env

# Other
.DS_Store
.tmp/
TODO.md
archive/**/*
.vscode/
dump.rdb
