.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 16px;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  border: 0;
  background: #eee;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}
