.search_btn {
    border-bottom-right-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border: none;
    height: 100%;
    padding: 0 1.2em;
    position: absolute;
    right: 0;
    background: #00ad96;
    cursor: pointer;
}

.search_btn:active {
    background: #018977;
}

.address_input {
    position: relative;
    width: 100%;
}

.address_input input {
    background-color: #19212c;
    border-radius: 0.375rem;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 1.5;
    padding: 0 16px;
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.address_input input:focus {
    box-shadow: #63b3ed 0px 0px 0px 3px;
    outline: none;
}
