# See src/config.ts for details on the .env variables that you can set

# Your Moralis Api key, that can be found in the dashboard. Keep this secret!
MORALIS_API_KEY=''

PORT = 1337;
MASTER_KEY = 'replace_me'
APPLICATION_ID = 'replace_me'
SERVER_URL = 'http://localhost:1337/server'
CLOUD_PATH = './build/cloud/main.js'
DATABASE_URI = 'mongodb://localhost:27017'

REDIS_CONNECTION_STRING = 'redis://127.0.0.1:6379'
RATE_LIMIT_TTL = 30
RATE_LIMIT_AUTHENTICATED = 50
RATE_LIMIT_ANONYMOUS = 20

USE_STREAMS = true
STREAMS_WEBHOOK_URL = '/streams-webhook'