PORT = 1337;

# Your Moralis Api key, that can be found in the dashboard. Keep this secret!
MORALIS_API_KEY=''

DATABASE_URI = 'mongodb://localhost:27017'

CLOUD_PATH = './cloud/main.js'
APP_NAME = 'Demo Parse Server Auth'

SERVER_ENDPOINT = 'server'
MASTER_KEY = 'MASTER_KEY'
APPLICATION_ID = 'APPLICATION_ID'
SERVER_URL = 'http://localhost:1337/server'

ALLOW_INSECURE_HTTP = 'true'