:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #101419;

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    margin: 0 auto;
    padding: 0.5rem;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

pre {
    background-color: #19212c;
    padding: 1em;
    border-radius: 0.375rem;
}

a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #00ad96;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    background-color: #007d6d;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
